button:hover {
  color:royalblue
}

button {
  color: dimgray;
  margin: 0 12px;
  font-size: 20px;
  font-family: 'Gowun Dodum', sans-serif;
  text-decoration: none;
  background: inherit;
  cursor:pointer;
  padding: 0;
  border: 0;
}

.sectionButton {
  margin-left: auto;
}