nav {
  color:darkgrey;
  margin-top: 10px;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

button:hover {
  color:royalblue
}

button {
  color: dimgray;
  margin-right: 25px;
  font-size: 20px;
  text-decoration: none;
  background: inherit;
  cursor:pointer;
  padding: 0;
  border: 0
}