@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

* {
  font-family: 'Gowun Dodum', sans-serif;
}

header {
  margin: 0px 20px;
}

#title {
  color:black;
  font-size: 30px;
}

#divider {
  height: 1px;
  background:lightgrey;
  margin: 5px 0;
}