@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

.header {
  margin: 20px;
  display: flex;
}

#title {
  color:black;
  font-size: 25px;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
}

#divider {
  height: 1px;
  background:lightgrey;
  margin: 5px 0;
}