@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

* {
  font-family: 'Gowun Dodum', sans-serif;
}

header {
  margin: 0px 20px;
}

#title {
  color:black;
  font-size: 30px;
}

nav {
  color:darkgrey;
  margin-top: 10px;
  display: flex;
}

nav a, button {
  color: dimgray;
  margin-right: 25px;
  font-size: 20px;
  text-decoration: none;
}

#divider {
  height: 1px;
  background:lightgrey;
  margin: 5px 0;
}

nav a:hover {
  color:royalblue
}

button {
  border:none;
  background: inherit;
  cursor:pointer;
  padding: 0;
}