@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

@font-face {
  font-family: SpoqaMedium;
  src: url(/font/SpoqaHanSansNeo-Medium.ttf);
}

@font-face {
  font-family: SpoqaBold;
  src: url(/font/SpoqaHanSansNeo-Bold.ttf);
}

* {
  font-family: 'SpoqaRegular', sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: royalblue;
}

.grayBackground {
  background: rgb(240, 240, 240);
  padding: 15px;
  border-radius: 10px;
}

body {
  margin: 0;
}

#container {
  max-width: 700px;
  padding: 20px 30px;
  margin: 0 auto;
}

#wrap {
  width: 100%;
  height: 100%;
}

#wrap>h1 {
  font-size: 0;
}

header {
  margin: 15px 15px;
  display: flex;
  align-items: baseline;
}

header>#logo {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  color: black;
}

nav {
  margin-left: auto;
}

nav>ul {
  display: inline-flex;
}

header::after {
  position: absolute;
  top: 60px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: lightgray;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>*:not(:last-child) {
  margin-right: 20px;
}

nav>ul>li>a {
  font-size: 20px;
  color: dimgray;
}

nav>ul>li>a:hover,
nav>ul>li .on {
  color: royalblue;
}

#frontPageImg {
  margin: 0 auto;
  max-width: 70%;
  display: block;
  padding: 20px;
}

#fontPageText {
  text-align: center;
}

/* app */

#appSelector>h2 {
  font-size: 22px;
  font-family: 'SpoqaBold', sans-serif;
}

#appSelector .unit img {
  width: 80px;
  padding-right: 20px;
}

#appSelector .unit {
  display: inline-flex;
  align-items: center;
  padding: 15px 15px 15px 0;
}

#appSelector .unit .description h2 {
  font-size: 18px;
}

#appSelector .unit .description p {
  font-size: 15px;
  padding-bottom: 3px;
}

#appSelector .unit .description a {
  font-size: 15px;
  cursor: pointer;
}

/* app detail */

#iconBox {
  padding-bottom: 20px;
}

.largeIcon {
  width: 120px;
  padding-right: 20px;
}

#iconBox {
  display: flex;
  align-items: center;
}

#description h2 {
  font-size: 16px;
  font-family: 'SpoqaBold', sans-serif;
}

#description h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

#description a {
  content: url(/Media/AppstoreDownload.svg);
  height: 40px
}

#appText p {
  font-size: 14px;
  white-space: pre-line;
}

#appText strong {
  font-size: 14px;
  font-family: 'SpoqaBold', sans-serif;
}

/* introduction */

#introductionText p {
  white-space: pre-line;
}

#introductionText #title {
  font-size: 20px;
}

#introductionText .grayBackground {
  margin: 15px 0;
}

#snsLinks {
  display: flex;
  margin: 5px 0;
  flex-wrap: wrap;
}

#snsLinks a {
  font-size: 20px;
  color: gray;
  margin: 0px 15px 5px 0px;
}

/* stories */

#postList li {
  margin-bottom: 20px;
  display: none;
}

#postList li:nth-child(-n+10) {
  display: block;
}

#postList li .postTitle {
  color: black;
  font-family: 'SpoqaBold', sans-serif;
  font-size: 16px;
}

#postList li .date {
  color: dimgray;
  font-size: 15px;
  margin-left: auto;
}

#postList li .tag {
  font-size: 0;
}

#postNav {
  text-align: center;
}

#postNav * {
  background: none;
  border: none;
  font-size: 20px;
  color: dimgray;
  padding: 10px;
}

#postNav *:hover {
  color: royalblue;
  cursor: pointer;
}

#postContent p {
  white-space: pre-line;
}

#postContent strong {
  font-family: 'SpoqaBold', sans-serif;
}

#postContent strong::before,
#postContent strong::after {
  content: "\a";
  white-space: pre-line;
}

#postContent img {
  display: block;
  max-width: 50%;
  margin: 0 auto;
}

#postContent #title {
  font-family: 'SpoqaBold', sans-serif;
  font-size: 18px;
}

#postContent #subtitle {
  font-size: 16px;
}

#postContent #date {
  color: gray;
}